<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Settings</title>
  <link rel="stylesheet" href="css/userLogin/accountSetting.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="profile-pic">
        <img src="<%= user.profileImage %>" alt="Profile Picture">
      </div>
      <ul>
       
        <li><a href="accountSetting" >Account Details</a></li>
        <li><a href="changePassword" class="active">Change Password</a></li>
        
        <li><a href="logout">Logout</a></li>
      </ul>
      
    </div>
    <div class="main-content">
      <a href="userDashboard"><button id="backToIndex" class="back-button">← Back</button></a><br>
      <h1>Account Settings</h1>
      <form action="/changePassword" method="POST">
        

       
        <label for="firstName">First Name : <%= user.first_name %> </label>
        <label for="last-name">Last Name : <%= user.last_name %> </label>
        <label for="username">Username : <%= user.username %> </label>

        <label for="email">Email :</label>
        <input type="email" name="email" id="email" value="<%= user.email %>" readonly>
        <label for="newPassword">New Password :  </label>
        <input type="password" name="newPassword" id="newPassword">
        <label for="confirmNewPassword">Confirm New  Password :  </label>
        <input type="password" name="confirmNewPassword" id="confirmNewPassword">

        <button> Update Profile</button>
    
      </form>
    </div>
  </div>
</body>
</html>