<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/userLogin/graphic.css">
</head>
<body>
    <!-- Navbar section -->
    <%- include('navbar') %> 
  <div class="searchbox">
    <p id="searchbox-slogan">
        <span style="font-size:50px; font-weight: bold;">Graphics & Design</span> <br>
        <span style="font-size: 20px">Designs to make you stand out.</span>
    </p>
</div>

<!-- Freelancer Cards Section -->
<div class="freelancer-container">
    <h2 id="expHeading">Hire Graphic Designer</h2>
   
    <% if (jobs.length > 0) { %>
        <% jobs.forEach(job => { %>
          <div class="freelancer-card">
            <img src="<%= job.profileImage %>" alt="Profile Image" class="profile-image">
            <h3> <%= job.jobTitle %></h3>
            <p>Hourly Rate: $<%= job.hourlyRate %></p>
            <p>Skills: <%= job.skills.join(', ') %></p>
            <a href="/job/<%= job._id %>" class="view-details">View Details</a>
          </div>
        <% }); %>
      <% } else { %>
        <p>No jobs available at the moment.</p>
      <% } %>

</div>

<h2 id="expHeading">Explore Graphics & Design</h2>

<div class="explore">
    <ul class="brandLogo">
        <img src="../images/brandd.jpg" alt="Brand Logo" width="250" height="150" style="border-radius: 15px;">
        <h2>Logo & Brand Identity</h2>
        <li>Logo Design</li>
        <li>Business Cards and Stationery</li>
        <li>Brand Style Guides</li>
    </ul>

    <ul class="WebApp">
        <img src="../images/webDesign.png" alt="Web Design" width="250" height="150" style="border-radius: 15px;">
        <h2>Web & App Design</h2>
        <li>App Design</li>
        <li>Website Design</li>
        <li>Landing Page Design</li>
        <li>Icon Design</li>
        <li>UX Design</li>
    </ul>

    <ul class="art">
        <img src="../images/art.jpg" alt="Art & Illustration" width="250" height="150" style="border-radius: 15px;">
        <h2>Art & Illustration</h2>
        <li>Illustration</li>
        <li>AI Artists</li>
        <li>Cartoon & Comics</li>
        <li>Pattern Design</li>
        <li>NFT Art</li>
    </ul>

    <ul class="archtitecture">
        <img src="../images/building.png" alt="Architecture Design" width="250" height="150" style="border-radius: 15px;">
        <h2>Architecture & Building Design</h2>
        <li>Architecture & Interior Design</li>
        <li>Landscape Design</li>
        <li>Building Engineering</li>
        <li>Lighting Design</li>
        <li>Building Information Modeling</li>
    </ul>
</div>


</body>
</html>